@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

@layer base {
  .sec-container {
    @apply sm:max-w-[90%] lg:max-w-[1150px] mx-auto w-full 2xl:max-w-7xl xxl:max-w-[1640px];
  }
  .title {
    @apply sm:text-[1.5em] md:text-[2.2em] 2xl:text-[45px]  xxl:text-[3.875em];
  }
  .subtitle {
    @apply text-[1.125em] md:text-[1.8em] 2xl:text-[2em]  xxl:text-[2.625em];
  }
  .custom-text-base {
    @apply lg:text-[1.2em] 2xl:text-[1.8em]  xxl:text-[1.5em];
  }
  .custom-text-sm-medium {
    @apply text-[1.5em] sm:text-[1.125em] 2xl:text-[1.9em]  xxl:text-[2.25em];
  }
  .custom-text-sm {
    @apply sm:text-[1em] 2xl:text-[1.2em]   xxl:text-[1.3em];
  }
  .custom-text-xs {
    @apply sm:text-[0.687em] lg:text-[1em] 2xl:text-[1.2em]   xxl:text-[1.37em];
  }

  .custom-hr {
    height: 12px; /* Set the height of the <hr> */
    background-image: linear-gradient(
      to right,
      black 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 12px 1.5px; /* Adjust this for dash size and spacing */
    background-repeat: repeat-x;
    border: none; /* Remove default border */
  }

  .custom-vr {
    width: 12px; /* Set the width of the vertical line */
    height: 100%; /* This will make it fill the container height */
    background-image: linear-gradient(
      to bottom,
      /* Change direction to bottom */ rgb(161, 159, 159) 33%,
      rgba(231, 228, 228, 0) 0%
    );
    background-position: right;
    background-size: 1.5px 12px; /* Swap width and height values */
    background-repeat: repeat-y; /* Change to repeat-y for vertical repetition */
    border: none;
  }
}
