@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: 247 186 48;
  --secondary-color: 0 48 69;
  --action-color: 0 48 69;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --primary-color: 247 186 48;
    --secondary-color: 0 48 69;
    --action-color: 0 48 69;
  }
  .sec-container {
    @apply lg:max-w-[1150px] mx-auto w-full 2xl:max-w-7xl xxl:max-w-[1640px];
  }
  .title {
    @apply sm:text-[1.7em] md:text-[2.2em] 2xl:text-[45px]  xxl:text-[3.875em];
  }
  .subtitle {
    @apply text-[1.125em] md:text-[1.8em] 2xl:text-[2em]  xxl:text-[2.625em];
  }
  .custom-text-base {
    @apply sm:text-[0.9em] lg:text-[1.2em] 2xl:text-[1.8em]  xxl:text-[1.5em];
  }
  .custom-text-sm-medium {
    @apply text-[1.5em] sm:text-[1.125em] 2xl:text-[1.9em]  xxl:text-[2.25em];
  }
  .custom-text-sm {
    @apply sm:text-[1em] 2xl:text-[1.2em]   xxl:text-[1.3em];
  }
  .custom-text-xs {
    @apply sm:text-[0.687em] lg:text-[1em] 2xl:text-[1.2em]   xxl:text-[1.37em];
  }
  .calendly-popup-overlay {
    backdrop-filter: blur(5px) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .custom-hr {
    height: 12px; /* Set the height of the <hr> */
    background-image: linear-gradient(
      to right,
      black 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 12px 1.5px; /* Adjust this for dash size and spacing */
    background-repeat: repeat-x;
    border: none; /* Remove default border */
    width: 97% !important;
  }

  .custom-vr {
    width: 12px; /* Set the width of the vertical line */
    height: 100%; /* This will make it fill the container height */
    background-image: linear-gradient(
      to bottom,
      /* Change direction to bottom */ rgb(161, 159, 159) 33%,
      rgba(231, 228, 228, 0) 0%
    );
    background-position: right;
    background-size: 1.5px 12px; /* Swap width and height values */
    background-repeat: repeat-y; /* Change to repeat-y for vertical repetition */
    border: none;
  }
}

.retail-network {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.retail-network:before {
  position: absolute;
  top: 0;
  left: -850px;
  height: 100%;
  background: url(/nbf-bg.svg) no-repeat center center;
  transform: rotate(180deg);
  width: 100%;
  opacity: 0.67;
  z-index: -1;
  content: "";
  background-size: 100%;
}
.retail-network:after {
  position: absolute;
  top: 0px;

  height: 100%;
  background: url(/nbf-bg.svg) no-repeat center center;
  transform: rotate(180deg);
  width: 100%;
  right: -700px;
  opacity: 0.67;
  z-index: -1;
  content: "";
  background-size: 100%;
}

.scale-box-main {
  position: relative;
  overflow-x: hidden;
}

.scale-box-main:before {
  position: absolute;
  top: 160px;
  left: -680px;
  height: 1180px;
  background: url(/nbf-bg.svg) no-repeat center center;
  transform: rotate(180deg);
  width: 100%;
  opacity: 0.2;
  content: "";
  background-size: 100%;
}
.scale-box-main:after {
  position: absolute;
  top: -74px;
  right: -160px;
  height: 400px;
  background: url(/nbf-bg.svg) no-repeat center center;
  transform: rotate(80deg);
  width: 380px;
  opacity: 0.2;
  content: "";
  background-size: 100%;
}
.nbfs-box {
  font-size: 20px;
  line-height: 30px;
}
.box-inner {
  position: relative;
  z-index: 1;
}

.box-inner:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: -2;
  background: url("/nbf-bg.svg") no-repeat center center;
  background-size: contain; /* change cover to contain to prevent overflow */
  transform: rotate(130deg) scale(1.2); /* scaling to fit after rotation */
  transform-origin: center;
  opacity: 0.3; /* adjust opacity as needed */
  pointer-events: none; /* optional: so background doesn't block clicks */
  background-size: 100%;
}

.Steps-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.Steps-section:before {
  position: absolute;
  content: "";
  background: #fff4d1;
  height: 60%;
  left: 0;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.left-box1:after {
  background: url(/arrow12.png) no-repeat center center;
  position: absolute;
  content: "";
  background-size: 100%;
  left: 120%;
  width: 50px;
  height: 50px;
  top: 30%;
  transform: translateY(-50%);
}

.across-the-funnel-main {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.across-the-funnel-main:after {
  background: url(https://imagekit.dpanda.in/publisher-banner/1750996077_nbf-bg.svg)
    no-repeat center center;
  background-size: 600px 600px;
  content: "";
  right: -560px;
  height: 100%;
  width: 90%;
  top: -140px;
  z-index: -1;
  position: absolute;
}

.across-the-funnel-main:before {
  background: url(https://imagekit.dpanda.in/publisher-banner/1750996077_nbf-bg.svg)
    no-repeat center center;
  /* background-size: 600px 600px; */
  content: "";
  left: -500px;
  height: 100%;
  width: 100%;
  top: 60%;
  z-index: -1;
  position: absolute;
  opacity: 0.3;
}

.nbfs-box li {
  font-size: 19px;
  line-height: 42px;
}
@media (min-width: 800px) and (max-width: 1024px) {
  p.text-\[60px\].text-\[\#FFCF3B\].font-bold.leading-tight {
    font-size: 48px;
  }
  .retail-network-inner h1 {
    line-height: 40px !important;
  }
  .nationwide-main
    .max-w-\[1200px\].container.mx-auto.grid.md\:grid-cols-2.gap-4.items-center {
    grid-template-columns: 30% 70%;
  }
  .nationwide-img img {
    width: auto;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .box-inner:before {
    display: none;
  }
  .left-box1:after {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .retail-network-inner h1 {
    line-height: 40px !important;
  }
  .across-the-funnel-main {
    padding-top: 0px !important;
  }

  .Steps-section {
    padding-bottom: 40px;
  }

  .nbfs-box-main .grid.grid-cols-1.md\:grid-cols-3.gap-\[60px\] {
    gap: 10px;
  }
  .nbfs-box-main .flex.flex-col {
    flex-direction: column;
  }
  .nbfs-box {
    padding-top: 6px;
  }
  h2.text-2xl.font-bold.text-yellow-400 ~ p {
    height: 59px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 566px) and (max-width: 768px) {
  .scale-box-main:after {
    display: none;
  }
  .retail-network-inner h1 {
    line-height: 42px;
    text-align: center;
  }
  .request-demo {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 566px) {
  .scale-box-main:after {
    display: none;
  }
  .scale-box-main,
  .Steps-section {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .nationwide-main {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .retail-network-inner h1 {
    line-height: 42px;
    text-align: center;
  }
  .request-demo {
    display: block;
    margin: 0 auto;
  }
  .retail-img2.flex.justify-center img {
    height: 250px;
  }
  .nationwide-img.flex {
    display: block;
    margin: 0 auto;
  }
  .nationwide-img.flex img {
    height: 220px;
    width: auto;
  }
  .nationwide-box-inner h2 {
    font-size: 27px;
    text-align: center;
  }
  .nationwide-box-inner .grid {
    display: block;
  }
  .nationwide-box-inner .grid div:nth-child(1) {
    margin-bottom: 30px;
  }
  .nationwide-box-inner p.text-gray-700.mt-\[50px\] {
    margin-top: 29px;
  }
  .nbfs-inner-box {
    min-height: 462px;
  }
}
