
/* Who are we? end here start here */
section.who-we-are{background: #fff;}
.who-we-are .wrap {
    margin-bottom: 0;
    border: 3px solid #ff0000;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-bottom: 85px;
    align-items: flex-start;
} 

.who-we-are-top-right {
    color: #263237;
}
.who-we-are-top-right h4 {
    font-size: 2.813rem;
    margin: 0px;
    font-weight: 800;
}


/* Who are we? end here end here */
/* join-us-box start here */
.join-us-main .wrap{margin-bottom: 0px;}
section.join-us-box { background: #fff;}
.join-us-box .wrap {grid-template-columns: repeat(2, 1fr);grid-gap: 20px;padding-bottom: 85px;}
.join-us-box .wrap h2{    font-size: 2.25rem; font-weight: 800;margin: 90px 0px 16px 0px;}
.join-us-box h2, .join-us-box p, .join-us-box h3 {grid-column: span 2; text-align: center;color: #263237;    margin: 0;}
.join-us-box h3{    margin: 0px 0px 30px 0px;}
.join-us-box .box {border-radius: 12px;    padding: 67px;text-align: center;}
.join-us-box .box span {color: #263237;font-size: 1.75rem;padding-bottom: 1.3rem;display: block;}  
.join-us-box .box p {line-height: 1.75rem;    font-size: 1rem;}
.box.box_1{background: #DBF0FA;}
.box.box_2{background: #D2D9FD;}
.box.box_3{background: #FAEDC3;}
.box.box_4{background: #D2FDF3;}

/* join-us-box end here */


/* Perks and benifits start here */
.pandas-benifits-box h2{    margin: 52px 0px 42px 0px !important;}
.pandas-benifits-box{background: #f7f7f7 !important;}
.pandas-benifits-box .box.Perks span{padding-bottom: 0.75rem;} 
.pandas-benifits-box .box.Perks {background: #fff;      padding: 45px 0px 36px 0px;}
.pandas-benifits-box .box.Perks p {font-size: 1.375rem;font-weight: 500;}

/* Perks and benifits end here */