*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #66baff;
    --action-color: #f8c800;
    --base-font-family: 'Montserrat';
    --base-font-size: 16px;
    --width-xsmall: 100vw;
    --width-small: 540px;
    --width-medium: 720px;
    --width-large: 960px;
    --width-xlarge: 1140px;
    --width-xxlarge: 1320px;
    --width-xxlarge: 1120px;
    --margin-auto: auto;
    --transition: all 750ms;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #2d6af6;
}

:focus {
    outline: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.wrap {
    display: grid;
    padding: 0 16px;
    margin: 0 auto;
    max-width: var(--width-xsmall);
    /* box-shadow: inset 0px 0px 1px 1px #f00; */
}

.title {
    font-weight: 800;
    font-size: 1.375rem;
    line-height: 28px;
    color: #263237;
    margin: 0 0 2px;
}

.sub-title {
    font-weight: 500;
    font-size: .875rem;
    line-height: 19px;
    color: #263237;
    margin: 0 0 6px;
}

.para {
    font-weight: 500;
    font-size: .6875rem;
    line-height: 16px;
}

.text-start {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.link-btn {
    font-weight: 700;
    font-size: .875rem;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    background: #11171D;
    display: inline-block;
    min-width: 150px;
    border-radius: 30px;
}

.link-btn:hover,
.link-btn.active {
    color: #ffffff;
    background: #EDBB40;
}

body {
    font-family: var(--base-font-family, sans-serif);
    font-size: var(--base-font-size);
    background: var(--primary-color);
    color: #263237;
    overflow-x: hidden;
}

header {
    border-bottom: solid 1px #E6E6E6;
}

header .wrap {
    grid-template-columns: repeat(2, 0fr);
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    padding: 16px 0;
}

.hamburge_menu_icon {
    width: 30px;
}

.hamburge_menu_icon>span {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background: #263237;
    display: block;
}

.hamburge_menu_icon>span:last-child {
    margin-bottom: 0px;
}

.close {
    display: none;
    position: relative;
    z-index: 1;
    width: 30px;
    height: 28px;
    opacity: 1;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 28px;
    width: 2px;
    background: #263237;

}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

nav {
    margin: 0;
    padding: 0px;
    width: calc(100vw - 70px);
    height: 100%;
    overflow-y: auto;
    background: #daeff8;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    transform: translate(-100%, 0px);
    transition: var(--transition);
    display: grid;
    grid-template-rows: repeat(30, 1fr);
}

nav a {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 45px;
    color: #003046;
    text-decoration: none;
    padding: 5px 20px;
    border-bottom: solid 1px #baced6;
    transition: background ease 0.5s;
}

nav a:hover,
nav a.active {
    color: #003046;
    background: #EDBB40;
    transition: background ease 0.5s;
}

main {}

main>section {
    padding: 25px 0;
}

.hero-banner .title {
    margin: 10px 0 10px;
}

.hero-banner .sub-title {
    font-size: 1rem;
    line-height: 20px;
    margin: 0 0 0px;
}

.publishers .wrap,
.brands .wrap,
.shoppers .wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.brands .wrap {}

.shoppers .wrap {}

.sq-cards {}

.sq-cards .title {
    grid-column-end: span 2;
    margin: 0 0 17px;
    padding: 0 12px;
    text-align: center;
}

.sq-cards .sub-title {
    font-size: 1rem;
    line-height: 20px;
    margin: 0 0 30px;
}

.sq-cards .wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    justify-content: space-between;
    padding: 0 8px;
}

.sq-cards .card {
    padding: 28px 8px 16px 16px;
    background: #ffffff;
    box-shadow: 0px 15px 40px #11171D26;
    min-height: 184px;
}

.sq-cards .card img {
    width: 40px;
    margin: 0 0 7px;
}

.sq-cards .card h3 {
    font-weight: 800;
    font-size: .875rem;
    line-height: 20px;
    color: #263237;
    margin: 0 0 6px;
}

.sq-cards .card p {
    font-weight: 600;
    font-size: .75rem;
    line-height: 16px;
    color: #263237;
}

.instant-setup {}

.instant-setup .small-icon {
    grid-column-end: span 2;
}

.instant-setup .title {
    margin: 0 0 0px;
    grid-column-end: span 2;
}

.instant-setup .sub-title {
    grid-column-end: span 2;
}

.instant-setup .wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px 0;
    justify-items: center;
}

.instant-setup .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-column-end: span 2;
    width: 100%;
}

.instant-setup .card {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-column-gap: 20px;
    align-items: center;
    padding: 13px 16px;
    background: #ffffff;
    box-shadow: 0px 15px 40px #11171D1A;
    width: 100%;
    min-height: 64px;
    border-radius: 10px;
}

.instant-setup .card img {
    min-width: 32px;
}

.instant-setup .card p {
    font-weight: 600;
    font-size: .75rem;
    line-height: 16px;
    color: #263237;
}

.industry-exp {}

.industry-exp .title {
    font-weight: 700;
    font-size: .875rem;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    margin: 0 0 0px;
    position: relative;
}

.industry-exp .title::after {
    content: "";
    background: #F5B719;
    width: 20px;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%, 0%);
}

.industry-exp .wrap {
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px 0;
    justify-items: center;
    max-width: var(--width-xsmall);
}

.industry-exp .graphic {
    position: relative;
    min-height: 154px;
    margin: 0 0 10px;
}

.industry-exp .blue-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 145px;
    background: #1957F5;
    box-shadow: 1px 7px 39px #00000029;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.industry-exp .content {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 10px;
    position: relative;
}

.industry-exp .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5;
    background: #ffffff;
    box-shadow: 0px 15px 40px #11171D1A;
    width: 60px;
    min-height: 60px;
    border-radius: 100%;
}

.industry-exp .card:first-child,
.industry-exp .card:last-child {
    position: absolute;
    top: -20px;
    left: -70px;
}

.industry-exp .card:last-child {
    left: auto;
    right: -70px;
}

.partner-brands {
    padding-bottom: 0;
}

.partner-brands .title {
    padding: 0 1rem;
    margin: 0 0 16px;
    grid-column-end: span 2;
}

.partner-brands .para {
    font-size: .875rem;
    line-height: 20px;
    color: #263237;
    text-align: center;
    padding: 0 2rem;
    grid-column-end: span 2;
}

.partner-brands .wrap {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 0;
    justify-items: center;
}

.partner-brands .content {
    grid-column-end: span 2;
    width: 100%;
}

.partner-brands .partner-logo {
    display: flex;
    overflow: auto;
    padding: 16px 0 40px;
}

.partner-brands .partner-logo::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    /* background-color: #F5F2F2; */
}

.partner-brands .partner-logo::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
    background-color: transparent;
}

.partner-brands .partner-logo::-webkit-scrollbar-thumb {
    background-color: rgba(125, 118, 115, 0.1);
    border-radius: 0px;
}

.partner-brands .card {
    display: grid;
    align-items: center;
    margin: 0 0 0 10px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 15px 40px #11171D1A;
    min-width: 100px;
    min-height: 50px;
    border-radius: 10px;
}

.partner-brands .card:first-child {
    margin-left: 16px;
}

.partner-brands .card:last-child {
    margin-right: 16px;
}

footer {
    background-color: #EFF8FC;
}

footer .wrap {
    grid-gap: 10px 0;
    grid-template-columns: repeat(4, 1fr);
}

footer>div>div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-end: span 5;
    padding-bottom: 20px;
    justify-content: start;
}

footer>div>div>img {
    width: 36px;
    grid-row: span 2;
    margin-right: 10px;
}

footer>div>div>strong {
    font-weight: 800;
    font-size: .875rem;
    line-height: 24px;
    color: #334755;
}

footer>div>div>a,
footer>div>div>p {
    font-weight: 500;
    font-size: .75rem;
    line-height: normal;
    color: #334755;
}

footer>div>div>p {}

footer .about {
    padding-top: 16px;
}

footer .about a {
    max-width: 130px;
    display: block;
}

footer .phone {
    grid-template-columns: repeat(2, auto);
    grid-column-end: span 2;
}

footer .email {
    grid-template-columns: repeat(2, auto);
    grid-column-end: span 2;
}

footer .address {
    grid-template-columns: repeat(2, auto);
}

footer .copyright {
    background: #ffffff;
    padding: 10px 0;
}

footer .copyright p {
    font-size: .6875rem;
    line-height: 16px;
    color: #263237;
    text-align: center;
}

/*Responsive*/
@media screen and (min-width: 576px) {
    .wrap {
        max-width: var(--width-small);
    }

    .logo {
        width: 106px;
        width: 200px;
    }

    .partner-brands .wrap {
        padding: 0 16px;
    }
}

@media screen and (min-width: 768px) {
    .wrap {
        max-width: var(--width-medium);
    }
}

@media screen and (min-width: 992px) {
    .order-lg-1 {
        order: 1;
    }

    .title {
        font-size: 2.8125rem;
        line-height: 52px;
        margin: 0 0 7px;
    }

    .sub-title {
        font-size: 1.375rem;
        line-height: 28px;
        margin: 0 0 18px;
    }

    .para {
        font-size: 1rem;
        line-height: 24px;
    }

    .link-btn {
        font-size: 1.25rem;
        line-height: 24px;
    }

    header {
        border-bottom: 0;
    }

    .hamburge_menu_icon {
        display: none;
    }

    .logo {}

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-template-rows: auto;
        width: auto;
        height: auto;
        margin: 0 0 0px;
        overflow: initial;
        background: transparent;
        position: unset;
        transform: unset;
    }

    nav a {
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 28px;
        color: #003046;
        text-decoration: none;
        padding: 5px 20px;
        border-radius: 48px;
        white-space: nowrap;
        border-bottom: 0;
    }

    .wrap {
        max-width: var(--width-large);
    }

    main>section {
        padding: 45px 0;
    }

    .hero-banner .title {
        max-width: 416px;
        margin: 0 0 7px;
    }

    .hero-banner .sub-title {
        font-size: 1.375rem;
        line-height: 28px;
        max-width: 330px;
    }

    .hero-banner>.wrap {
        grid-template-columns: 2fr 3fr;
        grid-column-gap: 36px;
        justify-content: space-between;
        align-items: center;
    }

    .publishers .wrap,
    .brands .wrap,
    .shoppers .wrap {
        grid-column-gap: 100px;
    }

    .publishers .wrap {}

    .publishers .sub-title {
        max-width: 300px;
    }

    .publishers .para {
        max-width: 380px;
    }

    .brands .wrap {
        max-width: 940px;
    }

    .brands .sub-title {
        max-width: 270px;
    }

    .brands .para {
        max-width: 420px;
    }

    .shoppers .wrap {}

    .shoppers .sub-title {
    }

    .shoppers .para {
        max-width: 370px;
    }

    .sq-cards {}

    .sq-cards .title {
        font-size: 2.25rem;
        line-height: 44px;
        grid-column-end: span 4;
        margin: 0 0 35px;
    }

    .sq-cards .wrap {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 16px;
        justify-content: center;
        padding: 0 16px;
    }

    .sq-cards .card {
        padding: 46px 16px 16px 25px;
        min-height: 280px;
    }

    .sq-cards .card img {
        width: 60px;
        margin: 0 0 16px;
    }

    .sq-cards .card h3 {
        font-size: 1.375rem;
        line-height: 28px;
        margin: 0 0 20px;
    }

    .sq-cards .card p {
        font-weight: 500;
        font-size: .875rem;
        line-height: 20px;
    }

    .instant-setup {}

    .instant-setup .small-icon {
        grid-column-end: initial;
        grid-row: span 6;
    }

    .instant-setup .title {
        margin: 0;
        grid-column-end: initial;
        grid-row: span 1;
        max-width: 350px;
    }

    .instant-setup .sub-title {
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 36px;
        grid-column-end: initial;
        grid-row: span 1;
        margin: 0 0 30px;
    }

    .instant-setup .wrap {
        grid-gap: 8px 56px;
        justify-items: start;
    }

    .instant-setup .content {
        grid-gap: 16px;
        grid-column-end: initial;
    }

    .instant-setup .card {
        min-height: 106px;
        grid-row: span 1;
    }

    .instant-setup .card img {
        min-width: 52px;
    }

    .instant-setup .card p {
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 28px;
    }

    .industry-exp {}

    .industry-exp .title {
        font-size: 2.25rem;
        line-height: 47px;
    }

    .industry-exp .title::after {
        width: 30px;
    }

    .industry-exp .wrap {
        max-width: var(--width-xsmall);
    }

    .industry-exp .graphic {
        min-height: 417px;
        margin: 0 0 32px;
    }

    .industry-exp .blue-circle {
        width: 394px;
        height: 394px;
    }

    .industry-exp .content {
        grid-gap: 30px;
    }

    .industry-exp .card {
        width: 170px;
        min-height: 170px;
    }

    .industry-exp .card:first-child,
    .industry-exp .card:last-child {
        top: -50px;
        left: -200px;
    }

    .industry-exp .card:last-child {
        right: -200px;
        left: auto;
    }

    .partner-brands {}

    .partner-brands .title {
        font-size: 2.25rem;
        line-height: 44px;
        padding: 0;
        margin: 0 0 32px;
    }

    .partner-brands .para {
        padding: 0;
        max-width: 700px;
    }

    .partner-brands .wrap {}

    .partner-brands .content {
        width: 951px;
    }

    .partner-brands .partner-logo {
        /* max-width: 700;
        margin: auto;*/
        padding: 50px 0;
    }

    .partner-brands .card {
        margin: 0 0 0 16px;
        padding: 16px;
        min-width: 170px;
        min-height: 80px;
        border-radius: 20px;
    }

    .partner-brands .card:first-child {
        /* margin-left: 0px; */
    }

    .partner-brands .card:last-child {
        /* margin-right: 0px; */
    }

    .publisher_brand .wrap {
        padding: 0 16px;
        grid-column-gap: 96px;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
    }

    .publisher_brand {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;
        align-items: start;
        padding-bottom: 45px;
    }

    .publisher_brand address {
        padding: 0;
    }

    .publisher_brand address h1 {}

    .publisher_brand address h1 span {}

    .publisher_brand address p {
        display: flex;
    }

    .publisher_brand address a {
        display: flex;
    }

    .publisher_brand address iframe {
        display: block;
        height: 220px;
        margin: 0;
    }

    .publisher_brand .form {
        grid-template-columns: repeat(3, 1fr);
    }

    .publisher_brand .form>a {}

    .publisher_brand .form>a.publisher {
        margin: 0 7px 0 0px;
    }

    .publisher_brand .form>a.brand {
        margin: 0 0px 0 7px;
    }

    .publisher_brand .form>a:hover,
    .publisher_brand .form>a.active {}

    .publisher_brand .form>a.active+a+#publisher_brand_form,
    .publisher_brand .form>a.active+#publisher_brand_form {}

    .publisher_brand form {}

    .publisher_brand form>.row {
        margin: 0 0 10px;
    }

    .publisher_brand form>.row>label {}

    .publisher_brand form>.row>input[type='text'] {}

    .publisher_brand form>.tnc {}

    .publisher_brand form>.tnc>label {}

    .publisher_brand form>.tnc>input[type='checkbox'] {}

    .publisher_brand form>input[type='submit'] {}

    .publisher_brand form>p {}

    footer {}

    footer .wrap {
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
    }

    footer>div>div {
        align-items: center;
        padding: 16px 0;
    }

    footer>div>div>img {}

    footer>div>div>strong {}

    footer>div>div>a,
    footer>div>div>p {}

    footer>div>div>p {}

    footer .about {
        grid-column-end: span 1;
    }

    footer .about a {}

    footer .phone {
        grid-column-end: span 1;
    }

    footer .email {
        grid-column-end: span 1;
    }

    footer .address {
        grid-column-end: span 2;
    }

    footer .copyright {}

    footer .copyright p {}
}

@media screen and (min-width: 1200px) {
    .wrap {
        max-width: var(--width-xlarge);
    }

    .publisher_brand {
        grid-column-gap: 170px;
    }

    .publisher_brand form {
        padding: 60px 100px;
        padding: 40px 60px;
    }

    .publisher_brand address h1 {
        font-size: 2.875rem;
        font-size: 2.475rem;
        line-height: 59px;
    }

    .publisher_brand address h1 span {
        font-size: 2rem;
        line-height: 31px;
    }
}

@media screen and (min-width: 1400px) {
    .wrap {
        max-width: var(--width-xxlarge);
    }
}