.information {}

.information .wrap {
 grid-template-columns: repeat(0, 0fr);
 justify-content: space-between;
 align-items: center;
}

.information .title {
 font-size: 1.375rem;
}

.information .sub-title {
 font-size: .875rem;
} 

.information p {
 font-size: 1rem;
 margin: 0 0 20px;
 line-height: 1.6875rem;
}
p.para span {
    font-weight: bold;
} 
.privacy-policy strong {
    margin: 12px 0px 4px 0px;
    display: block;
}

.information p:last-child {
 margin: 0 0 0;
}